<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/MainPage.css">
  <title>Document</title>
</head>

<body>

  <!--TITLE-->
  <title>Mini Github</title>

  <!--ICON-->
  <link rel="shortcut icon" href="images/logo.svg">

  <!--META TAGS-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Mahesh">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="LEVIOOSA" />

  <!--EXTERNAL CSS-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">

  <!--PLUGIN-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <!--GOOGLE FONTS-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Kanit:wght@300&display=swap"
    rel="stylesheet">
  </head>

  <body>
    <!--IF LOADER NEEDED
<body onload="myLoader()" style="margin:0;">
<div class="loading" id="loader">
<div class="load">
<div class="loader">
</div>
</div>
</div>
<div style="display:none;" id="myDiv" class="animate-bottom">-->

    <!--NAV-BAR-->
    <header>
      <div class="topnav" id="myTopnav">
        <a class="logo">Mini Github</a>
        <div class="dropdown">
          <button class="dropbtn">Services
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <a href="/MAHESHBYL/details/mdOmWZG">Contact</a>
        <a href="about.html">About</a>
        <a href="#" class="active">Home</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header>
    <div id="navbar">
      <div class="slide-menu">
        <a class="logo">Mini Github</a>
        <div class="dropdown">
          <button class="dropbtn">Services
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <a href="https://codepen.io/MAHESHBYL/details/mdOmWZG">Contact</a>
        <a href="about.html">About</a>
        <a href="#" class="active">Home</a>
      </div>
    </div>



    <!--MAIN-->
    <div class="main">
      <table>
        <tr>
          <td>
            <section>
              <h5 class="sub-title">Welcome To Mini Github!</h5>
              <h1 class="title">Share your projects to the community!</h1>    
              <a href="#formSection" class="btn1">See How</a>
            </section>
          </td>
          <td>
            <img src="../images/developer.png" class="inline-photo show-on-scroll" alt="INFERNO">
          </td>
        </tr>
      </table>
    </div>
    <form id="formSection" class="upload-container" action="/MainPage" method="post">
        <h1>Upload your Project Here</h1>
        <div class="form-control">
          <input type="text" name="ProjectTitle" required>
          <label>Project Title</label>
        </div>
        <div class="form-control">
          <input type="text" name="DeveloperName" required>
          <label>Developer Name</label>
        </div>
        <div class="form-control">
          <input type="text" name="Description" required>
          <label>Description</label>
        </div>
        <div class="form-control">
          <input type="text" name="HostedURL" required>
          <label>Hosted URL</label>
        </div>
        
        <button class="upload-btn">Upload</button>
    </form>
   
    <!--CONTAINER-->
    <div class="container">
      <table>
        <tr>
          <td>
            <img src="https://i.ibb.co/w4dySWD/01.webp" class="inline-photo show-on-scroll" alt="About Us">
          </td>
          <td>
            <h1 class="title">Discover this platform to showcase your skills</h1>
            <a href="#formSection" class="btn2">Discover More</a>
          </td>
        </tr>
      </table>
    </div>

    <section class="section1">
      <h1 class="title-card">See activity of your community members</h1>
      <div class="banner">

      </div>
      <button class="accordion">Member 1</button>
      <div class="panel">
        <h3>
          Project Title - Developer Name
        </h3>
      
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ut placeat quaerat.
        </p>
        <button type="button">See it</button>
      </div>

      <button class="accordion">Member 2</button>
      <div class="panel">
        <h3>
          Project Title - Developer Name
        </h3>
      
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ut placeat quaerat.
        </p>
        <button type="button">See it</button>
      </div>

      <button class="accordion">Question-3</button>
      <div class="panel">
        <h3>
          Project Title - Developer Name
        </h3>
      
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ut placeat quaerat.
        </p>
        <button type="button">See it</button>
      </div>

      <button class="accordion">Question-4</button>
      <div class="panel">
        <h3>
          Project Title - Developer Name
        </h3>
      
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ut placeat quaerat.
        </p>
        <button type="button">See it</button>
      </div>

    </section>



    <!--FOOTER-->


    <a href="#" id="scroll-up"><i class="fa fa-angle-up"></i></a>
    </div>



    <script type="module" src="../javascripts/MainPage.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function () {
        // Assuming you have a form with id 'formSection' and an action attribute set to '/MainPage'
        document.getElementById('formSection').addEventListener('submit', async function (event) {
          event.preventDefault();

          try {
            const response = await fetch('/MainPage', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: new URLSearchParams(new FormData(this)),
            });

            const result = await response.text();

            // Display an alert based on the server response
            alert(result);
          } catch (error) {
            console.error("Error:", error);
            alert("An unexpected error occurred.");
          }
        });
      });
      </script>
</body >
</html >