.form-customer label{
    color: black;
    font-weight: 700;
}

.btn-pay{
    color: white;
    background-color: black;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 25px;
}
.btn-pay:hover{
    background-color: white;
    color: black;
}

.heading{
    margin-top: 50px;
}