.story::-webkit-scrollbar {
  display: none;
}

a:focus {
  outline: none !important;
}

body {
  background: linear-gradient(250deg, #fffbff, #000000);
  /* Replace with your preferred gradient colors */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* Specify your preferred font-family */
  height: 100vh;
  /* Ensure the gradient covers the entire viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

#regbtn {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: transform 0.2s;
}

#regbtn:hover {
  cursor: pointer;
  transform: translateY(5px); /* Move 5 pixels to the right */
}
#loginbtn {
  color: #0b3907;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 800;
}

#askmess {
  font-weight: 800;
  color: black;
}

.inputBG {
  background-color: rgb(198, 198, 205);
  color: #000000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the .Logo class */
.Reg {
  color: #000000;
  top: 80px;
  right: 535px;
  position: absolute;
  display: inline;
  font-size: 3rem;
  /* Apply the animation classes from Tailwind */
  animation: fadeIn 1s ease-in;
}
#backbtn{
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 700;
  padding: 5px;
 }
 #backbtn:hover{
  background-color: #000000;
  cursor: pointer;
 }